.bordered-table {
    width: 100%;
    border-collapse: collapse; /* Để viền không bị đúp */
  }
  
  .bordered-table, .bordered-table th, .bordered-table td {
    border: 2px solid #000; /* Màu viền đen */
    padding: 8px;
  }
  
  .bordered-table th {
    background-color: #f2f2f2; /* Màu nền cho tiêu đề bảng */
  }

  .product-list-container {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .bordered-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .bordered-table th, .bordered-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .bordered-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  /* Chỉnh kích thước cột giá */
  .price-column {
    width: 50px; /* Bạn có thể điều chỉnh kích thước tùy theo nhu cầu */
    text-align: right; /* Căn phải giá để hiển thị đẹp hơn */
  }
  

  .cart-container {
    margin: 20px;
    
    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .cart-input {
      margin-top: 10px;
  
      input {
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
    
    .cart-input button {
      background-color: #28a745;
    }
  
    p {
      margin-top: 10px;
      font-weight: bold;
    }
    .container {
      display: flex;
      justify-content: space-between; // Tạo khoảng cách giữa các khối
      align-items: flex-start; // Căn các phần tử theo chiều dọc
    
      .block, .paypay {
        width: 48%; // Chia chiều rộng để cả hai khối hiển thị cùng hàng
      }
    }
    
  }