<div class="container mt-5">
  <h1 class="text-center mb-4">Sản Phẩm</h1>

  <!-- Tìm kiếm và Thêm sản phẩm -->
  <div class="row mb-4">
    <div class="col-md-8">
      <div class="input-group shadow-sm">
        <input type="text" class="form-control" placeholder="Tìm sản phẩm" [(ngModel)]="keyword">
        <button class="btn btn-primary" (click)="searchProducts()">Tìm kiếm</button>
      </div>
    </div>
    <div class="col-md-4 text-end">
      <button class="btn btn-success shadow" (click)="insertProduct()">
        <i class="fas fa-plus"></i> Thêm sản phẩm mới
      </button>
    </div>
  </div>

  <!-- Bảng Sản Phẩm -->
  <div class="table-responsive">
    <table class="table table-hover table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th>Tên</th>
          <!-- <th>Kích Thước</th> -->
          <th>Màu sắc</th>
          <th>Số lượng</th>
          <th>Giá</th>
          <th>Ảnh</th>
          <th>Size</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody>
        @for(product of products; track product.id) {
          <tr (click)="updateProduct(product.id)" class="clickable-row">
            <td>{{ product.name }}</td>
            <!-- <td>{{ product.size }}</td> -->
            <td>{{ product.color }}</td>
            <td>{{ product.numberProduct }}</td>
            <td>{{ product.price | number: '1.0-0' }} VND</td>
            <td>
              <img src="{{ product.url }}" class="rounded" alt="Thumbnail" width="80" height="80">
            </td>
            <td class="text-wrap" style="max-width: 250px;">
              {{ product.size_id }}
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(product); $event.stopPropagation()">
                <i class="fas fa-trash"></i> Xóa
              </button>
            </td>
          </tr>
        }
      </tbody>      
    </table>
  </div>

  <!-- Phân Trang -->
  <div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        @if(currentPage > 0) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(0)">Trước</a>
          </li>
        }
        @for(page of visiblePages; track page) {
          <li class="page-item" [ngClass]="{'active': page === currentPage + 1}">
            <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
          </li>
        }
        @if(currentPage < totalPages - 1) {
          <li class="page-item">
            <a class="page-link" (click)="onPageChange(currentPage + 1)">Sau</a>
          </li>
        }
      </ul>
    </nav>
  </div>
</div>
