@import '../../../styles/shared-style.scss';

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color: $shopapp-color !important;
    color: #fff;
    border-color: $shopapp-color !important;
}

.btn.btn-primary {
    margin-left: 10px;
}
.container-fluid {
    background-color: white;
    padding-left: 0 !important; /* Remove left padding */
    padding-right: 0 !important; /* Remove right padding */
    height: 100vh;
}

.rounded-square {
    border-radius: 10px;
}
.table th, .table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.pagination .page-item .page-link {
    color: #007bff;
    cursor: pointer;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
}
.clickable-row {
    cursor: pointer;
  }
  
  .clickable-row:hover {
    background-color: #f8f9fa;  /* Đổi màu khi hover */
  }
  
