<h1>Thống kê</h1>
<!-- <div>
    <h3>Biểu đồ Doanh số</h3>
    <canvas baseChart
            [data]="salesData"
            [options]="chartOptions"
            chartType="bar">
    </canvas>
  </div> -->
  <!-- <div style="display: block;">
    <canvas baseChart
            [datasets]="lineChartData"  
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
    </canvas>
  </div> -->

  <div style="display: block;">
    <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="chartType">
    </canvas>
  </div>